<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Layout</title>

    <link rel="stylesheet" href="../../css/tables/table.css">
    <link rel="stylesheet" href="../../css/layouts/admin_layout.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

    <script src="../../js/main.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title" id="header-field-round">Round: 1</span>
                <div class="mdl-layout-spacer"></div>
                <button id="header-field-new-round" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--green-500">
                    Начать новый
                </button>
            </div>
        </header>

        <main class = "mdl-layout__content">
            <div class = "mdl-tabs mdl-js-tabs">
                <div class = "mdl-tabs__tab-bar">
                    <a href="#round1" class="mdl-tabs__tab is-active">Round 1</a>
                    <a href = "#round2" class = "mdl-tabs__tab">Round 2</a>
                    <a href = "#round3" class = "mdl-tabs__tab">Round 3</a>
                </div>

                <div class = "mdl-tabs__panel is-active" id = "round1">
                    <div class="content1">
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                    <!-- Here is your header form -->
                                </thead>

                                <tbody>
                                    <!-- Here is your row forms -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="content2">
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                    <!-- Here is your header form-->
                                </thead>

                                <tbody>
                                    <!-- Here is your row forms -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="content3">
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <!-- Here is your header form-->
                                </thead>

                                <tbody>
                                <!-- Here is your row forms -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="snackbar">
                        <div>Сохранение..</div>
                        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
                    </div>
                </div>

                <div class = "mdl-tabs__panel" id = "round2">
                    <div class="content1">
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <!-- Here is your header form-->
                                </thead>

                                <tbody>
                                <!-- Here is your row forms -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="content2">
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <!-- Here is your header form-->
                                </thead>

                                <tbody>
                                <!-- Here is your row forms -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="content3">
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <!-- Here is your header form-->
                                </thead>

                                <tbody>
                                <!-- Here is your row forms -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="snackbar">
                        <div>Сохранение..</div>
                        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
                    </div>
                </div>

                <div class = "mdl-tabs__panel" id = "round3">
                    <div class="content1">
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <!-- Here is your header form-->
                                </thead>

                                <tbody>
                                <!-- Here is your row forms -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="content2">
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <!-- Here is your header form-->
                                </thead>

                                <tbody>
                                <!-- Here is your row forms -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="content3">
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <!-- Here is your header form-->
                                </thead>

                                <tbody>
                                <!-- Here is your row forms -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="snackbar">
                        <div>Сохранение..</div>
                        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
                    </div>
                </div>

            </div>
        </main>
    </div>
</body>
</html>