@model RROWebService.Models.Categories.Oml.OmlViewModel

@section THeader
    {
    <tr>
        <th></th>

        <th></th>
        <th></th>
        <th></th>
        <th>Пассажиры, кроме синего</th>
        <th></th>
        <th></th>

        <th></th>

        <th></th>

        <th></th>
        <th>Штраф</th>

        <th></th>
        <th></th>
    </tr>

    <tr>
        <th>Команда</th>

        <th>Стоит полностью в верной зоне</th>
        <th>Лежит полностью в верной зоне</th>
        <th>
            Частично в верной зоне
            (не важно лежит или стоит)
        </th>
        <th>Стоит полностью в НЕверной зоне*</th>
        <th>Лежит полностью в НЕверной зоне*</th>
        <th>Не подходит ни под один критерий</th>

        <th>Синий</th>

        <th>Черный блок</th>

        <th>Робот полностью остановился в зоне </th>
        <th>Стена повреждена / смещена</th>

        <th>Время</th>
        <th>Подпись участника</th>
    </tr>
}

@foreach (var team in Model.Teams)
{
    <tr>
        <!-- ======================== "Команда" ======================== -->
        <td>@team.TeamId</td>

        <!-- ======================== "Стоит полностью в верной зоне" ======================== -->
        <td>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text">
                <label class="mdl-textfield__label">Баллы..</label>
            </div>
        </td>

        <!-- ======================== "Лежит полностью в верной зоне" ======================== -->
        <td>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text">
                <label class="mdl-textfield__label">Баллы..</label>
            </div>
        </td>

        <!-- ======================== "Частично в верной зоне (не важно лежит или стоит)" ======================== -->
        <td>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text">
                <label class="mdl-textfield__label">Баллы..</label>
            </div>
        </td>

        <!-- ======================== "Стоит полностью в НЕверной зоне*" ======================== -->
        <td>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text">
                <label class="mdl-textfield__label">Баллы..</label>
            </div>
        </td>

        <!-- ======================== "Лежит полностью в НЕверной зоне*" ======================== -->
        <td>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text">
                <label class="mdl-textfield__label">Баллы..</label>
            </div>
        </td>

        <!-- ======================== "Не подходит ни под один критерий" ======================== -->
        <td>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text">
                <label class="mdl-textfield__label">Баллы..</label>
            </div>
        </td>

        <!-- ======================== "Синий" ======================== -->
        <td>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <select class="mdl-textfield__input">
                    <option></option>
                    <option>Стоит в зел. зоне + касается синей исходной зоны или серого контура</option>
                    <option>Не выполянет условия начисления баллов</option>
                </select>
                <label class="mdl-textfield__label"></label>
            </div>
        </td>

        <!-- ======================== "Черный блок" ======================== -->
        <td>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <select class="mdl-textfield__input">
                    <option></option>
                    <option>Полностью в зоне батареи</option>
                    <option>Частично в зоне батареи</option>
                    <option>Не в зоне</option>
                </select>
                <label class="mdl-textfield__label"></label>
            </div>
        </td>

        <!-- ======================== "Штраф" ======================== -->
        <!-- "Робот полностью остановился в зоне" -->
        <td>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                <input type="checkbox" class="mdl-checkbox__input">
            </label>
        </td>
        <!-- "Стена повреждена / смещена" -->
        <td>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                <input type="checkbox" class="mdl-checkbox__input">
            </label>
        </td>

        <!-- ======================== "Время" ======================== -->
        <td>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text">
                <label class="mdl-textfield__label">Время..</label>
            </div>
        </td>

        <!-- ======================== "Подпись участника" ======================== -->
        <td>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                <div class="submit-btn">Сохранить</div>
            </button>
        </td>
    </tr>
}

@section Scripts
    {
    <script>
        function submitteam(elem) {
            elem.innerHTML = "Сохранение...";
            var btclass = elem.classList[0];
            var elements = document.getElementsByClassName(btclass);
            var jsonbody = '{';
            jsonbody += '"teamId":' + '"' + btclass + '"' + ',';
            jsonbody += '"polygon":"@Model.Polygon",';
            jsonbody += '"round":"@Model.CurrentRound",';
            var element0 = (elements[0].value === "" ? 'null' : '"' + elements[0].value + '"');
            var element1 = (elements[1].value === "" ? 'null' : '"' + elements[1].value + '"');
            var element2 = (elements[2].value === "" ? 'null' : '"' + elements[2].value + '"');
            var element3 = (elements[3].value === "" ? 'null' : '"' + elements[3].value + '"');
            var element4 = (elements[4].value === "" ? 'null' : '"' + elements[4].value + '"');
            var element5 = (elements[5].value === "" ? 'null' : '"' + elements[5].value + '"');
            var element10 = (elements[10].value === "" ? 'null' : '"' + elements[10].value + '"');

            jsonbody += '"staysCorrectly":' + element0 + ',';
            jsonbody += '"liesCorrectly":' + element1 + ',';
            jsonbody += '"partiallyCorrect":' + element2 + ',';
            jsonbody += '"staysIncorrectly":' + element3 + ',';
            jsonbody += '"liesIncorrectly":' + element4 + ',';
            jsonbody += '"none":' + element5 + ',';

            if (elements[6].value === "Стоит в зел. зоне + касается синей исходной зоны или серого контура")
                jsonbody += '"blueBlockState":"1",';
            else if (elements[6].value === "Не выполянет условия начисления баллов")
                jsonbody += '"blueBlockState":"0",';
            else jsonbody += '"blueBlockState":null,';

            if (elements[7].value === "Полностью в зоне батареи")
                jsonbody += '"blackBlockState":"2",';
            else if (elements[7].value === "Частично в зоне батареи")
                jsonbody += '"blackBlockState":"1",';
            else if (elements[7].value === "Не в зоне")
                jsonbody += '"blackBlockState":"0",';
            else jsonbody += '"blackBlockState":null,';


            if (elements[8].parentNode.classList.contains("is-checked"))
                jsonbody += '"finishCorrectly":"1",';
            else jsonbody += '"finishCorrectly":"0",';

            if (elements[9].parentNode.classList.contains("is-checked"))
                jsonbody += '"brokenWall":"1",';
            else jsonbody += '"brokenWall":"0",';

            jsonbody += '"timeMils":' + element10 + ',';
            jsonbody += '"saved":"1"}';

            console.log(jsonbody);

            //post request
            var reqest = new XMLHttpRequest();
            reqest.open("post", "http://localhost:5000/api/omlResult", true);
            reqest.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            reqest.onreadystatechange = function () {
                switch (reqest.readyState) {
                    case 1:
                    case 2:
                    case 3:
                        elem.innerHTML = "Сохранение...";
                        break;
                    case 4:
                        if (reqest.status === 200) {
                            elem.innerHTML = "Сохранено";
                            elem.disabled = true;
                            elements[0].disabled = true;
                            elements[1].disabled = true;
                            elements[2].disabled = true;
                            elements[3].disabled = true;
                            elements[4].disabled = true;
                            elements[5].disabled = true;
                            elements[6].disabled = true;
                            elements[7].disabled = true;
                            elements[8].disabled = true;
                            elements[9].disabled = true;
                            elements[10].disabled = true;
                        } else {
                            alert("Error occured");
                            elem.innerHTML = "Сохранить";
                        }
                        break;
                }
            };
            reqest.send(jsonbody);
        }
    </script>
}