@model AuthorizationViewModel

@{ Layout = null; }


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/authorizationStyle.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>


<div class="login-page">
    <div class="form">
        <form class="login-form" method="post">
            <div class="mdl-layout--large-screen-only mdl-layout__header--transparent">
                <h3>Authorization</h3>
                @if (Model.Error)
                {
                    <h6>Invalid ID or Password</h6>
                }
            </div>
            <div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="login" name="judgeId" value="@Model.JudgeId.Trim()">
                    <label class="mdl-textfield__label" for="login">Login</label>

                </div>
                @if (Model.Secondary && String.IsNullOrWhiteSpace(Model.JudgeId))
                {
                    <h6 align="left">Enter ID</h6>
                }
            </div>

            <div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" id="password" name="pass" type="password">
                    <label class="mdl-textfield__label" for="password">Password</label>
                </div>
                @if (Model.Secondary && String.IsNullOrEmpty(Model.Pass))
                {
                    <h6 align="left">Enter Password</h6>
                }

            </div>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Login
            </button>
        </form>
    </div>
</div>

</body>
</html>