html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    z-index: 0;
}

/* Header properties */
#header {
    background-color: rgb(249, 249, 249);
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);

    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    z-index: 2;
}

#header div {
    float: left;
    text-align: center;

    width: 15%;
    height: 100%;
    margin-top: 1.2%;
}

/* Content properties */
#content {
    overflow: scroll;

    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 0;
    width: 100%;
    z-index: 1;
}

#content::-webkit-scrollbar { width: 0 !important }

/* Footer properties */
#footer {
    background-color: rgb(249, 249, 249);
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);

    position: fixed;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    z-index: 2;
}

#footer div {
    float: left;
    text-align: center;

    width: 15%;
    height: 100%;
    margin-top: 1.2%;
}
