* {text-align: center}

th, td {
    border: 2px solid black;
    text-align: center !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #6d79dc;
}

.mdl-checkbox {
    text-align: center;
}

tr:nth-child(5n-4) th:nth-child(1),
tr:nth-child(5n-4) th:nth-child(2){
    position: sticky;
    position: -webkit-sticky;
    left: -1px;
    z-index: 5;
}

tr:nth-child(5n-4) td:nth-child(1),
tr:nth-child(5n-4) td:nth-child(2){
    background-color: #FFFFFF;
    position: sticky;
    position: -webkit-sticky;
    left: -1px;
    z-index: 5;
}
