* {text-align: center}

th, td {
    border: 2px solid black;
    text-align: center !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #6d79dc;
}

.mdl-checkbox {
    text-align: center;
}

tr:nth-child(5n-4) th:nth-child(1),
tr:nth-child(5n-4) th:nth-child(2){
    position: sticky;
    position: -webkit-sticky;
    left: -1px;
    z-index: 5;
}

tr:nth-child(5n-4) td:nth-child(1),
tr:nth-child(5n-4) td:nth-child(2){
    background-color: #FFFFFF;
    position: sticky;
    position: -webkit-sticky;
    left: -1px;
    z-index: 11;
}

/* Dropdown own styling */
.search_categories{
    width: 300px;
    font-size: 13px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.search_categories .select{
    width: 120%;
    background-position:80% center;
}

.search_categories .select select{
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 120%;
    position: relative;
    z-index: 10;
    font-size: 1em;
}